<ion-view view-title="Purchase Confirmed">
  <ion-content>
    <ion-list class="dash-list dash-crime">

      <ion-item class="header">
        <a href="#" class="list-item concerned">
          <h2>FlexiPre Crime protection</h2>
          <h1>Solution 3</h1>
        </a>
      </ion-item>

      <ion-item class="item-text-wrap">
        <a class="padding list-item">
          <h2>Purchase confirmed</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </a>
      </ion-item>

      <ion-item class="item-text-wrap">
		<button navClear class="button button-block button-dark" id="button-get-package" ui-sref="tab.dash">
		  Take me to Dashboard
		</button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
