<ion-view view-title="Purchase Confirmed">
  <ion-content>
    <ion-list class="dash-list dash-crime">

      <ion-item class="header">
        <a href="#" class="list-item color-shift">
          <h2>FlexiPre {{route | capitalize}} Care</h2>
          <h1 ng-if="package.selectedPlan">Solution {{package.selectedPlan}}</h1>
        </a>
      </ion-item>

      <ion-item class="item-text-wrap">
        <a class="padding list-item">
          <h2>Purchase confirmed</h2>
          <br><br>
          <p>Thank you for purchasing Flexipre {{route}} care.</p>
          <p>You are now covered under the policy, and holds the right to raise claims request.</p>
          <br>
          <p>Should you have any questions or queries about your policy then call us on 0845 301 6383 and we will be pleased to help you.</p>
          <br>
        </a>
      </ion-item>

  		<button class="button button-full button-dark" id="button-get-package" ui-sref="tab.dash">
  		  Take me to Dashboard
  		</button>

    </ion-list>
  </ion-content>
</ion-view>
