<ion-view view-title="Crime">
  <ion-content>
    <ion-list class="dash-list dash-crime">

      <ion-item class="header">
        <a href="#" class="list-item color-shift-{{crime.riskSolution}}">
          <h2>Your crime risk score is</h2>
          <h1>{{crime.riskSolution}}</h1>
        </a>
      </ion-item>

      <ion-item>
        <a class="list-item item-text-wrap padding switch-plan">
          <h3>Switch Plan</h3>
          <p>We recommend you to switch to the plan according to the risk score.</p>
          <p>Your current plan is highlighted.</p>
        </a>
      </ion-item>

      <ion-item class="risk-profiles">
		<div class="button-bar">
		  <a class="button" ng-class="{'button-positive' : crime.selectedPlan === 1}" ng-click="crime.selectedPlan = 1">
		  	<span class="title">Solution</span>
		  	<span class="level">1</span>
		  </a>
		  <a class="button" ng-class="{'button-calm' : crime.selectedPlan === 2}" ng-click="crime.selectedPlan = 2">
		  	<span class="title">Solution</span>
		  	<span class="level">2</span>
		  </a>
		  <a class="button" ng-class="{'button-balanced' : crime.selectedPlan === 3}" ng-click="crime.selectedPlan = 3">
		  	<span class="title">Solution</span>
		  	<span class="level">3</span>
		  </a>
		  <a class="button" ng-class="{'button-energized' : crime.selectedPlan === 4}" ng-click="crime.selectedPlan = 4">
		  	<span class="title">Solution</span>
		  	<span class="level">4</span>
		  </a>
		</div>
 	 </ion-item>

      <ion-item class="item-text-wrap" ng-show="crime.selectedPlan === 1">
        <a class="padding list-item">
          <h2>Solution 1</h2>
          <p>The main characteristics of the plan is detailed below. For further information,
          click <b>here</b></p>
        </a>

        <div class="list list-payment">
          <a class="item" href="#">
            Plan name
            <span class="item-note">
              Crime - Solution {{crime.selectedPlan}}
            </span>
          </a>
          <a class="item" href="#">
            Premium frequency
            <span class="item-note">
              Quarterly
            </span>
          </a>
          <a class="item" href="#">
            Premium rate
            <span class="item-note">
              £14
            </span>
          </a>
          <a class="item" href="#">
            Claim Turnaround time
            <span class="item-note">
              1 Month
            </span>
          </a>
      </div>
      </ion-item>

      <ion-item class="item-text-wrap" ng-show="crime.selectedPlan === 2">
       <a class="padding list-item">
          <h2>Solution 2</h2>
          <p>The main characteristics of the plan is detailed below. For further information,
          click <b>here</b></p>
        </a>

        <div class="list list-payment">
          <a class="item" href="#">
            Plan name
            <span class="item-note">
              Crime - Solution {{crime.selectedPlan}}
            </span>
          </a>
          <a class="item" href="#">
            Premium frequency
            <span class="item-note">
              Quarterly
            </span>
          </a>
          <a class="item" href="#">
            Premium rate
            <span class="item-note">
              £16
            </span>
          </a>
          <a class="item" href="#">
            Claim Turnaround time
            <span class="item-note">
              3 Weeks
            </span>
          </a>
      </div>
      </ion-item>

      <ion-item class="item-text-wrap" ng-show="crime.selectedPlan === 3">
       <a class="padding list-item">
          <h2>Solution 3</h2>
          <p>The main characteristics of the plan is detailed below. For further information,
          click <b>here</b></p>
        </a>

        <div class="list list-payment">
          <a class="item" href="#">
            Plan name
            <span class="item-note">
              Crime - Solution {{crime.selectedPlan}}
            </span>
          </a>
          <a class="item" href="#">
            Premium frequency
            <span class="item-note">
              Quarterly
            </span>
          </a>
          <a class="item" href="#">
            Premium rate
            <span class="item-note">
              £18
            </span>
          </a>
          <a class="item" href="#">
            Claim Turnaround time
            <span class="item-note">
              2 Weeks
            </span>
          </a>
      </div>
      </ion-item>

      <ion-item class="item-text-wrap" ng-show="crime.selectedPlan === 4">
       <a class="padding list-item">
          <h2>Solution 4</h2>
          <p>The main characteristics of the plan is detailed below. For further information,
          click <b>here</b></p>
        </a>

        <div class="list list-payment">
          <a class="item" href="#">
            Plan name
            <span class="item-note">
              Crime - Solution {{crime.selectedPlan}}
            </span>
          </a>
          <a class="item" href="#">
            Premium frequency
            <span class="item-note">
              Quarterly
            </span>
          </a>
          <a class="item" href="#">
            Premium rate
            <span class="item-note">
              £20
            </span>
          </a>
          <a class="item" href="#">
            Claim Turnaround time
            <span class="item-note">
              1 Week
            </span>
          </a>
      </div>
      </ion-item>

  		<a class="button button-full button-dark" id="button-get-package" ng-click="goNext()">
  		  Get the package solution {{crime.selectedPlan}}
  		</a>

    </ion-list>
  </ion-content>
</ion-view>
