<ion-view view-title="Dashboard" cache-view="false">
  <ion-content>
    <ion-list class="dash-list">
      <ion-item>
        <a class="list-item protected ">
          <h2>Life</h2> <i class="icon dash-icon ion-ios-heart"></i>
          <p>Protected</p>
        </a>
      </ion-item>
      <ion-item>
        <a href="#/tab/dash/crime" class="list-item concerned">
          <h2>Crime</h2> <i class="icon dash-icon ion-ios-bell"></i>
          <p>Review your plan</p>
        </a>
      </ion-item>
      <ion-item>
        <a href="#" class="list-item inactive">
          <h2>Accident</h2> <i class="icon dash-icon ion-android-car"></i>
          <p>Add this package</p>
        </a>
      </ion-item>
      <ion-item>
        <a href="#" class="list-item inactive">
          <h2>Travel</h2> <i class="icon dash-icon ion-plane"></i>
          <p>Add this package</p>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
