<ion-view view-title="Confirm your details">
  <ion-content>
    <ion-list class="dash-list dash-crime">

      <ion-item class="header">
        <a href="#" class="list-item concerned">
          <h2>FlexiPre Crime Care</h2>
          <h1>Solution 3</h1>
        </a>
      </ion-item>

      <ion-item class="item-text-wrap">
        <a class="padding list-item">
          <h2>Terms and Conditions</h2>
          <div class="list-tnc">
	          <p>These policy terms and conditions describe your policy, including:</p>
			  <p>1. our obligations to you<br>
			     2. your cover<br>
			     3. claims conditions<br>
				 4. your obligations to us</p>
			  <p>These policy terms and conditions provide you with everything you need to know about your Insurance policy. It is important that you read them carefully along with your policy schedule.</p> <br>
			  <p>If a claim is to be made, these policy terms and conditions will be useful, so please keep them somewhere safe.
			  You will enter into two separate contracts when you take out an insurance policy through us. The first contract is with us for arranging and administering your insurance policy on your behalf. We shall charge you a fee(s) for providing our services.</p> <br>
			  <p>Should you have any questions or queries about your policy then call us on 0845 301 6383 and we will be pleased to help you.</p>
		  </div>
        </a>
      </ion-item>

	  <ion-checkbox ng-model="isChecked" class="checkbox-iagree">I accept to the terms</ion-checkbox>

      <ion-item class="item-text-wrap">
        <a class="padding list-item">
          <h2>Make your Payment</h2>
          <p>Confirm your card details</p>
        </a>
        <div class="list list-payment">
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-card"></i>
		    Card number
		  	<span class="item-note">
		      4517-XXXX-XXXX-7498
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-person-outline"></i>
		    Name
		   	<span class="item-note">
		      John Smith
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-calendar-outline"></i>
		    Expiry Date
		    <span class="item-note">
		      07/18
		    </span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-locked-outline"></i>
		    CVV
		    <span class="item-note">
		      747
		    </span>
		  </a>
		</div>
      </ion-item>

      <ion-item class="item-text-wrap">
		<a class="button button-block button-dark" id="button-get-package" href="#/tab/dash/crime/confirm">
		  Get the plan
		</a>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
