/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  background-color: #4A75E6;
}

body, h1, h2, h3, h4, h5, button {
	font-family: 'Lato', sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}


.dash-list {
	text-align: center;
	vertical-align: middle;
}

.dash-list ion-item {
	padding: 0;
	border-top: 0;
}

.dash-list ion-item .list-item{
	display: block;
	min-height: 120px;
}

.dash-list ion-item .dash-icon{
	display: inline-block;
	padding-top: 30px;
	vertical-align: middle;
	font-size: 1.5em;
}
.dash-list ion-item h2{
	font-size: 1.3em;
	display: inline-block;
	vertical-align: middle;
	padding-top: 30px;
}

.dash-list.dash-crime ion-item.header a{
	min-height: 125px;
}

.dash-list.dash-crime ion-item.header h2{
	padding-top: 25px;
}

.switch-plan h3{
	font-size: 1.2em;
	padding-top: 5px;
}

.risk-profiles .title{
	font-size: 0.7em;
}

.risk-profiles span.level{
	display: block;
	font-size: 1.5em;
	margin-top: -15px;
	margin-bottom: 10px;
}

.login-header {
	margin-top: 50px;
	margin-bottom: 50px;
}

.login-header i {
	font-size: 3em;
}

.login-form .item {
	background-color: transparent;
	border-color: rgba(0,0,0,0.1);
}

.login-form, .color-shift {
	background: linear-gradient(239deg, #ffd662, #87e6ff, #7aff8e);
	background-size: 650% 650%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 0;
}

.pink-shift {
	background: linear-gradient(239deg, #ff53a0, #ff80c4, #ff5e75);
	background-size: 400% 400%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 4px solid hotpink;
}

.dblue-shift, .color-shift-1 {
	background: linear-gradient(239deg, #5361ff, #108be9, #5e79ff);
	background-size: 200% 200%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 4px solid mediumblue;
}

.green-shift, .color-shift-3 {
	background: linear-gradient(270deg, #00cc50, #00d42d, #00df1c);
	background-size: 200% 200%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 4px solid green;
}

.orange-shift, .color-shift-4 {
	background: linear-gradient(270deg, #ffb51e, #f7c549, #ffa000);
	background-size: 200% 200%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 4px solid orange;
}

.blue-shift, .color-shift-2 {
	background: linear-gradient(239deg, #1cbbff, #87f0ff, #34dcf4);
	background-size: 200% 200%;
	-webkit-animation: color-shift 10s ease infinite;
	animation: color-shift 10s ease infinite;
	border-bottom: 4px solid DeepSkyBlue;
}

.inactive {
	background-color: #f3f3f3;
	border-bottom: 3px solid lightgray;
}

.red {
	color: #ff2222;
}

@-webkit-keyframes color-shift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes color-shift { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.list-payment {
	text-align: left;
}

.list-tnc {
	text-align: left;
	margin: 10px 5px -10px;
}

.checkbox-iagree {
	text-align: left;
	border-top-width: 0;
	border-bottom: 1px;
}

.travel-list h2{
	padding-bottom: 2px;
	font-size: 1.6em;
}

.travel-add input {
	text-align: right;
}

.forecast h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 1.9em;
}

.forecast h4 {
	float: right;
	margin-top: -30px;
	font-size: 1.2em;
}